@model EXPEDIT.Tickets.ViewModels.TicketsViewModel

@{
    Style.Require("Transactions");
    HtmlHelper.ClientValidationEnabled = true;
    HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
    Layout.Title = T("My Tickets").ToString();
}
<article class="content-item page">
    <header><h1>@Layout.Title</h1></header>
    @Html.Partial("MyTicketsPartial", Model)
    </article>